#wolong{
    width:100%;
    height:1500px;
    /* background-color: #ccc; */
}
#wolong .content{
     width:1000px;
     height:100%;
     /* background-color: rgb(66, 141, 59); */
     margin:auto;
}
.header{
    width:100%;
    height:100px;
    /* background-color: pink; */
}
.header .logo{
    width:244px;
    height:100%;
    background: url(../images/images/卧龙控股_03.png) 
                 no-repeat center center;
    text-indent: -999px;
    margin:auto;
}
.header .search input{
    width:228px;
    height:26px;
    margin-top:39px;
    border:1px solid #e5e5e5;
    /* background-color: #ccc;    */
}
.nav{
    width:100%;
    height:60px;
    background-color: #2d2d2d;
}
.nav ul{
    height:100%;
}
.nav ul a{
    display: block;
    color:#ccc;
    width:100%;
    height:100%;

}
.nav li{
    width:119px;
    height:100%;
    line-height:60px;
    border-right:1px solid #ccc;
    text-align: center;
    /* background-color: #833a3a; */
}
.nav li:hover{
    background-color: yellow;
}
.banner{
    width:100%;
    height:463px;
    background-image: url(../images/卧龙控股.png);
    background-position:center center;
}
.main1{
    width:100%;
    height:240px;
    /* background-color: pink; */
    overflow: hidden;
}
.main1 .left{
    width:500px;
    height:100%;
    /* background-color: #ccc; */
}
.main1 .news-title{
    font-size:17px;
    line-height:17px;
    margin-top:37px;
    color:#262626;
}

.main1 .span1{
    color:#595959; 
    margin-left: 18px;  
    width:280px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.main1 .span2{
    margin-right:18px;
    color:#595959;
}
.main1 ul{
    margin-top:29px;
    font-size:15px;
    line-height:15px;
}
.main1 li{
   height:12px;
   margin-top:13px;
   background:url(../images/images/卧龙控股符号.png)
              left center no-repeat;
}
.main1 .center{
    width:215px;
    height:100%;
    padding-left:25px;
    background-color: #f1f1f1;
}
.main1 .center h3{
    font-size:12px;
    line-height:25px;
    color:#5b5b5b;
    margin-top:32px;
}
.main1 .center p{
    font-size:11px;
    line-height: 24px;
    color:#bfbfbf;
    margin-top:10px;
}
.main1 .center p{
    white-space: pre-line;
    width:200px;
    overflow: hidden;
    display:-webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-list-clamp:2;
}
.main1 .right{
    width:260px;
    height:100%;
    background:url(../images/images/卧龙控股05.png)
               no-repeat right bottom;
}
.main1 .right p{
    font-size:12px;
    white-space: pre-line;
}
.main2{
     width:100%;
     height:306px;
     background-color: #fff;
     overflow: hidden;
}
.main2 .news-title{
    font-size:17px;
    line-height:17px;
    margin-top:10px;
    color:#262626;
}
.main2 .list1,.list2,.list3,.list4{
    width:210px;
    height:100%;
    background:url(../images/images/卧龙控股_06.png)
               no-repeat;
    /* background-color: #ccc;  */
    margin-right: 43px; 
    margin-top20px;        
}
.main2 p{
    font-size:12px;
    line-height:22px;
    margin-top:150px;
}
.main3{
    width:100%;
    height:250px;
    /* background-color: yellow; */
}
.main3 .cc1{
    width:488px;
    height:176px;
    background-color: #ccc;
}
.main3 .cc1-1,.cc1-2,.cc1-3{
    width:90px;
    height:115px;  
    margin-right:60px; 
    /* background-color: pink; */

}
.main3 li{
    background: url(../images/images/卧龙控股-符号2.png) 
    no-repeat;
}
.main3 li p{ 
    margin-left:10px;
}
.main3 .cc2{
    width:150px;
    height:176px;
    /* background-color: pink; */
}

.main3 .cc3{
    width:250px;
    height:173px;
    background:url(../images/images/卧龙控股-的.png)
               no-repeat center bottom;
}
.main3,.cc1,.cc2,.cc3{
    margin-right:40px;
}
.footer{
    width:100%;
    height:80px;
    background-color: #fff;
}
.footer .dd{
    width:278px;
    height:100%;
}
.footer .dd2{
    border-right:1px solid #ccc;
    padding:5px;
    font-size:10px;
    color:#888888;
}