body,
html {
  height: 100%;
}

#fx {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  box-sizing: border-box;
}

#fx .fx-header {
  height: 42.93333vw;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#fx .fx-header .header-left {
  width: 49.86667vw;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

#fx .fx-header .header-left .header-left1 {
  width: 24.93333vw;
  margin: 6.4vw 0 0 3.73333vw;
}

#fx .fx-header .header-left .header-left1 h2 {
  font-size: 4vw;
  color: #f49f10;
  line-height: 4vw;
}

#fx .fx-header .header-left .header-left1 h3 {
  font-size: 2.93333vw;
  color: #9b9b9b;
  line-height: 2.93333vw;
  margin-top: 2.66667vw;
}

#fx .fx-header .header-left .header-left2 img {
  height: 16.8vw;
  width: 18.66667vw;
  margin: 22.66667vw 2vw 0 0;
}

#fx .fx-header .header-right {
  width: 49.86667vw;
}

#fx .fx-header .header-right .header-right1 {
  height: 21.46667vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

#fx .fx-header .header-right .header-right1 .span1 {
  display: block;
  overflow: hidden;
  padding-left: 3.73333vw;
}

#fx .fx-header .header-right .header-right1 .span1 h2 {
  font-size: 4vw;
  color: #3ba5bf;
  line-height: 4vw;
  margin-top: 6.4vw;
}

#fx .fx-header .header-right .header-right1 .span1 h3 {
  font-size: 2.93333vw;
  color: #9b9b9b;
  line-height: 2.93333vw;
  margin-top: 2.66667vw;
}

#fx .fx-header .header-right .header-right1 .span2 {
  margin-top: 5.33333vw;
  margin-right: 2.66667vw;
}

#fx .fx-header .header-right .header-right1 .span2 img {
  width: 10.93333vw;
  height: 10.93333vw;
}

#fx .fx-header .header-right .header-right2 {
  height: 21.46667vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

#fx .fx-header .header-right .header-right2 .span1 {
  display: block;
  overflow: hidden;
  padding-left: 3.73333vw;
}

#fx .fx-header .header-right .header-right2 .span1 h2 {
  font-size: 4vw;
  color: #f2685d;
  line-height: 4vw;
  margin-top: 6.4vw;
}

#fx .fx-header .header-right .header-right2 .span1 h3 {
  font-size: 2.93333vw;
  color: #9b9b9b;
  line-height: 2.93333vw;
  margin-top: 2.66667vw;
}

#fx .fx-header .header-right .header-right2 .span2 {
  margin-top: 5.33333vw;
  margin-right: 2.66667vw;
}

#fx .fx-header .header-right .header-right2 .span2 img {
  width: 10.93333vw;
  height: 10.93333vw;
}

#fx .fx-main {
  flex: 1;
  margin-top: 2.93333vw;
}

#fx .fx-main .main-list {
  background-color: #fff;
}

#fx .fx-main .main-list .main-img {
  display: block;
  text-align: center;
}

#fx .fx-main .main-list .main-img img {
  width: 37.33333vw;
  height: 5.33333vw;
}

#fx .fx-main .main-h3 {
  font-size: 2.93333vw;
  color: #9b9b9b;
  line-height: 2.93333vw;
  margin-top: 2.66667vw;
  text-align: center;
}

#fx .fx-main .main1 {
  background-color: #fff;
}

#fx .fx-main .main1 .main-ul1 {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-around;
}

#fx .fx-main .main1 .main-ul1 .main-li {
  width: 45.6vw;
  height: 70.66667vw;
  margin-top: 2vw;
  border: 1px solid #ccc;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-img1 img {
  width: 45.6vw;
  height: 46vw;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 {
  display: block;
  padding-left: 2vw;
  border-bottom: 1px dashed #ccc;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 h2 {
  font-size: 3.06667vw;
  font-weight: 700;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 .list1-h3 {
  font-size: 2.26667vw;
  color: #898989;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 .list1-h4 {
  margin-top: 0.26667vw;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 .list1-h4 .span1 {
  font-size: 2vw;
  color: #f45c09;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 .list1-h4 .span2 {
  font-size: 2.93333vw;
  color: #f45c09;
  font-weight: 700;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list1 .list1-h4 .span3 {
  width: 11.33333vw;
  height: 2.93333vw;
  line-height: 2.93333vw;
  font-size: 2.66667vw;
  color: #ea887d;
  border-radius: 0.66667vw;
  border: 1px solid #ea887d;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list2 {
  padding-left: 2vw;
  display: block;
  margin-top: 1.33333vw;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list2 .list2-img img {
  width: 2.66667vw;
  height: 2.66667vw;
}

#fx .fx-main .main1 .main-ul1 .main-li .main-list2 .list2-span1 {
  font-size: 2.93333vw;
  color: #9b9b9b;
}

#fx .fx-main .p1 {
  margin-top: 5.6vw;
  color: #9b9b9b;
  font-size: 3.2vw;
  text-align: center;
}

#fx .fx-main .main2 {
  background-color: #fff;
  margin-top: 1.33333vw;
}

#fx .fx-main .main2 .ul2-img {
  display: block;
  text-align: center;
}

#fx .fx-main .main2 .ul2-img img {
  width: 37.33333vw;
  height: 5.33333vw;
}

#fx .fx-main .main2 .main2-h3 {
  font-size: 2.93333vw;
  color: #9b9b9b;
  line-height: 2.93333vw;
  margin-top: 2.66667vw;
  text-align: center;
}

#fx .fx-main .main2 .main2-ul2 {
  display: flex;
  margin-top: 1.33333vw;
  justify-content: space-around;
}

#fx .fx-main .main2 .main2-ul2 .main2-li2 .ul2-img2 img {
  width: 30vw;
  height: 30vw;
}

#fx .fx-main .main2 .main2-ul2 .main2-li2 h2 {
  font-size: 3.2vw;
  line-height: 3.2vw;
  margin-top: 1.33333vw;
}

#fx .fx-main .main2 .main2-ul2 .main2-li2 .li2-span1 {
  color: #f85340;
  font-size: 3.2vw;
}

#fx .fx-main .main2 .main2-ul2 .main2-li2 .li2-span2 {
  font-size: 2.4vw;
  color: #ccc;
  text-decoration: line-through;
}

#fx .fx-footer {
  height: 14.13333vw;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#fx .fx-footer .footer-ul {
  display: flex;
  justify-content: space-around;
}

#fx .fx-footer .footer-ul .footer-li span {
  display: block;
  margin-top: 2.66667vw;
}

#fx .fx-footer .footer-ul .footer-li span img {
  width: 5.33333vw;
  height: 5.33333vw;
}

#fx .fx-footer .footer-ul .footer-li span p {
  font-size: 2.13333vw;
  color: #ccc;
}
