*{
    margin:0;padding:0;
}
#box{
    width:100%;
    height:1400px;
    background-color: #ccc;
}
#box .content{
    width:1050px;
    height:100%;
    background-color: pink;
    margin:auto;
}
/* header部分开始 */
.header{
    width:100%;
    height:62px;
    background-color: #232323;
}
/* header部分结束 */

/* banner部分开始 */
.banner{
    width:100%;
    height:422px;
    background-image: url(../images/千锋互联-首页.png);
    background-position: center center;
}
/* banner部分结束 */

/* main1部分开始 */
.main1{
    width:100%;
    height:355px;
}
/* main部分结束 */

/* main2部分开始 */
.main2{
    width:100%;
    height:310px;
    background-color:yellow;
}
/* mian2部分结束 */

/* main3部分开始 */
.main3{
    width:100%;
    height:212px;
}
/* main3部分结束 */

/* footer部分开始 */
.footer{
    width:100%;
    height:44px;
    background-color: #101010;
}
/* footer部分结束 */
