#chaofan{
    width:100%;
    height:5300px;
    
    /* background-color: #ccc; */
}
#chaofan .fix{
    width:48px;
    height:145px;
    position:fixed;
    top:50%; 
    right:0;
}
.fix1{
    width:48px;
    height:48px;
}   
.fix1:hover .img11{
    display: none;
} 
.fix1:hover .img12{
    display: inline-block;
}

.fix2{
    width:48px;
    height:48px;
    background-color: #58e;
}  
.img12{
    display:none;
} 
#chaofan .content{
    width:1146px;
    height:100%;
    /* background-color: pink; */
    margin:auto;
    overflow: hidden; 
}

.header{
    width:100%;
    height:82px;
    background-color: #fff;
}
.header .logo{
    width:420px;
    height:100%;
    background:url(../images/images/logo.png)
               no-repeat;
}
.header .list{
    height:100%;
}
.header .list .list1 {
    width:85px;
    height:100%;
    font-size:12px;
    line-height:82px;
    text-align: center;
}
.header  a{
    display:block;
}
.header .yingwen{
    display: none;
}
li:hover .zhongwen{
   display:none;
}
li:hover .yingwen{
    display:block;
}
.banner{
    width:100%;
    height:638px;
    background:url(../images/images/56f3527bb57ce.jpg)
                   no-repeat center center;
}
.main1{
    width:100%;
    height:724px;
    background-color: #fff;  
}
.main1 .img{
    width:100%;
    height:44px;
    background:url(../images/images/bus_h2.jpg)
                  no-repeat center center;
    margin: 40px auto;              
}
.main1 .list1,.list2{
    width:100%;
    height:218px;
    margin-top:5px;
}
.main1 .list1-1{
    width:352px;
    height:218px;
    margin-right:42px;
    position: relative;           
} 
.main1 .list1-2{
    width:352px;
    height:218px;
    margin-right:42px;
    position: relative;  
}
.main1 .list1-3{
    width:352px;
    height:218px;
    position: relative;           
}
.main1 .list2-1{
    width:352px;
    height:218px;
    margin-right:42px;
    position: relative;           
} 
.main1 .list2-2{
    width:352px;
    height:218px;
    margin-right:42px;
    position: relative;
}
.main1 .list2-3{
    width:352px;
    height:218px;
    position: relative;
}
.main1 .aa1{
    width:100%;
    height:100%;
    font-size:18px;
    display: block;
    line-height:15px;
    text-align: center;
    margin-top:10px;
    background-color: #094aa0;
    display: none;
    color:#fff;
}
.main1 .img0{
    width:352px;
    height:218px;
}
.list1-1:hover .aa1{
 display: inline-block;
}
.list1-1:hover .aa2{
    display: none;
}

.list1-2:hover .aa1{
    display: inline-block;
}
.list1-2:hover .aa2{
       display: none;
}
 .list1-3:hover .aa1{
    display: inline-block;
}
.list1-3:hover .aa2{
       display: none;
}
.list2-1:hover .aa1{
    display: inline-block;
}
.list2-1:hover .aa2{
       display: none;
   }
   
.list2-2:hover .aa1{
    display: inline-block;
}
.list2-2:hover .aa2{
       display: none;
   }
.list2-3:hover .aa1{
    display: inline-block;
}
   .list2-3:hover .aa2{
       display: none;
}
.main1 .p1{
    font-size:17px;
    line-height: 24px;
    color:#666666;
    white-space: pre-line;
    text-align: center;
    margin-bottom:53px;
}
.main1 .p2{
    width:230px;
    height:72px;
    text-align: center;
    font-size: 22px;
    color:#fff;
    background-color: #179bde;
    line-height: 72px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.main1 .p3{
    width:230px;
    height:72px;
    text-align: center;
    font-size: 22px;
    color:#fff;
    background-color: #1767e0;
    line-height: 72px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.main1 .p4{
    width:230px;
    height:72px;
    text-align: center;
    font-size: 22px;
    color:#fff;
    background-color: #fbcd12;
    line-height: 72px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.main1 .p5{
    width:230px;
    height:72px;
    text-align: center;
    font-size: 22px;
    color:#fff;
    background-color: #e41485;
    line-height: 72px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.main1 .p6{
    width:230px;
    height:72px;
    text-align: center;
    font-size: 22px;
    color:#fff;
    background-color: #f72623;
    line-height: 72px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.main1 .p7{
    width:230px;
    height:72px;
    text-align: center;
    font-size: 22px;
    color:#fff;
    background-color: #95c332;
    line-height: 72px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.main2{
    width:100%;
    height:762px;
    background-color: #ebeff1;
    
}
.main2 .img{
    width:181px;
    height:45px;
    background:url(../images/images/clien_h2.jpg)
               no-repeat ;
    margin: 40px auto;
}
.main2 p{
     font-size:17px;
     line-height:17px;
     margin-top:26px;
     text-align: center;
     color:#666666;;
}
.main2 .list{
    width:1146px;
    height:550px;
    /* background-color: yellowgreen; */
    margin-top:57px;
}
.mian2 .list .ul1{
    height:100%;
}
.main2 .aa{
    width:283px;
    height:166px;
}
.main2 .aa a{
    display: block;
}
.main2 .aa .you{
    display: none;
}
.aa:hover .wu{
    display: none;
}
.aa:hover .you{
    display:block;
}
.main3{
    width:100%;
    height:630px;
    background-color: #fff;
   
}
.main3 .img{
    width:176px;
    height:44px;
    background:url(../images/images/work_h2.jpg)
                no-repeat ;   
    margin: 40px auto;        
}
.main3 p{
    font-size:17px;
    line-height: 17px;
    text-align: center;
    color: #666666;
}
.main3 .bb{
    width:1145px;
    height:430px;
    margin-top:50px;
    /* background-color: #ccc; */
}
.main3 .bb10{
    height:100%;
}
.main3 .bb1{
    width:284px;
    height:213px;
    background:url(../images/images/man3-0.jpg)
               no-repeat center center;
}
.main3 .bb2{
    width:284px;
    height:213px;
    background:url(../images/images/man3-1.jpg)
               no-repeat center center;
}
.main3 .bb3{
    width:284px;
    height:213px;
    background:url(../images/images/man3-2.jpg)
               no-repeat center center;
}
.main3 .bb4{
    width:284px;
    height:213px;
    background:url(../images/images/man3-3.jpg)
               no-repeat center center;
}
.main3 .bb5{
    width:284px;
    height:213px;
    background:url(../images/images/man3-4.jpg)
               no-repeat center center;
}
.main3 .bb6{
    width:284px;
    height:213px;
    background:url(../images/images/man3-5.jpg)
               no-repeat center center;
}
.main3 .bb7{
    width:284px;
    height:213px;
    background:url(../images/images/man3-6.jpg)
               no-repeat center center;
}
.main3 .bb8{
    width:284px;
    height:213px;
    background:url(../images/images/man3-7.jpg)
               no-repeat center center;
}
.main4{
    width:100%;
    height:800px;
    background-color: #185b75;
    overflow: hidden;
}
.main4 .news{
    font-size:45px;
    line-height: 45px;
    margin-top:42px;
    text-transform: capitalize;
    text-align: center;
    color:#fff;
}
.main4 p{
    font-size:17px;
    line-height: 17px;
    margin-top:27px;
    color:#fff;
    text-align: center;
}
.main4 .box{
    width:1400px;
    height:535px;
    margin-top:55px;
    background-color: #fff;
}
.main4 .box1{
    width:550px;
    height:168px;
    margin-bottom:15px;
    margin-right:15px;
    /* background-color: #ccc; */
}
.main4 img{
    width:182px;
    height:100%;
}
.main4 .box1 .box1-1{
    width:365px;
    height:100%;
}
.box1-1 .nn1{
    font-size:16px;
    line-height:16px;
    text-indent:12px;
    color:#333;
    margin-top:28px;
}
.box1-1 .nn2{
    margin-top:18px;
    font-size:12px;
    line-height:21px;
    color:#777777;
    width:300px;
    overflow: hidden;
    text-indent:12px;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
}
.main4 .span1,.span2{
    font-size:9px;
    color:#cfcccc;
    margin-top:19px;
}
.main5{
    width:100%;
    height:910px;
    margin-top:40px;
    background:url(../images/images/exp_h2.jpg)
               no-repeat center 0 ;
}
.main5 .yy{
    width:100%;
    height:136px;
    margin:30px;
}
.main5 .yy1{
    width:280px;
    height:100%;
    /* border:rgb(185, 67, 67) 1px solid;   */
}
.main5 .yy2{
    text-align: center;
    color:#b2b2b2;
}
.main5 .img1{
    width:81px;
    height:81px;
    margin:10px 100px;
}
.main5 a{
    display: block;
}
.main5 .cai{
    display: none;
}
.yy1:hover .bai{
    display: none;
}
.yy1:hover{
    border-bottom: 1px #58a solid;
}
.yy1:hover .cai{
   display: inline-block;
  
}
.main5 .pp{
    font-size:17px;
    line-height: 17px;
    text-align: center;
    margin-top:80px;
    color: #666666;
}
.mian5 .yy2{
    width:1146px;
    height:461px;
}
.main6{
    width:100%;
    height:224px;
    background-color: #0066c7;
}
.main6 .xx{
    width:380px;
    height:100%;
    border-right: 1px solid rgb(46, 16, 155);
}
.main6 .xx1{
    text-align:center;
    margin-top:54px; 
    position:relative;
}
.main6 .xx2{
    font-size:68px;
    line-height:68px;
    color:#fff; 
  
}
.main6 .xx3{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:5px;
    background:url(../images/blue-bg.png);
}
.main6 .xx4{
    text-align: center;
    color: #fff;
    font-size:16px;
    line-height:16px;
    margin-top:32px;
}
.footer{
    width:100%;
    height:662px;
    overflow: hidden;
    background-color: #141414;
}

.footer .ff{
    font-size: 45px;
    line-height: 45px;
    margin-top:40px;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
}
.footer .ff1{
    font-size: 21px;
    line-height: 12px;
    margin-top: 42px;
    color:#fff;
    text-align: center;
}
.footer .ff2{
    width:100%;
    height:100px;
    margin-top:30px;
    /* background-color: #58e; */
}
.footer .ff3{
    width:100%;
    height:100px;
    margin-bottom:150px;
    /* background-color: #58e; */
}
.footer .ff2-1{
    width:270px;
    height:86px;
    margin-right: 22px;
    background: url(../images/images/foot_tel.png)
    no-repeat ;
}
.footer .ff2-2{
    width:270px;
    height:86px;
    margin-right: 22px;
    background: url(../images/images/foot_wx.png)
    no-repeat ;
}
.footer .ff2-3{
    width:270px;
    height:86px;
    margin-right: 22px;
    background: url(../images/images/foot_qq.png)
    no-repeat ;
}
.footer .ff2-4{
    width:270px;
    height:86px;
    background: url(../images/images/foot_tel.png)
    no-repeat ;
}
.footer .ff2-1-1{
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    color:#cbcbcb;
    margin-top:5px;
}
.footer .ff2-1-2{
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    color:#fff;
    margin-top:12px;
}
.footer .ff3-1{
    width:270px;
    height:100%;
    margin-right:10px;
    border:1px solid #ccc;
    background:url(../images/images/foot_c1.png)
               no-repeat;
}
.footer .ff3-2{
    width:270px;
    height:100%;
    margin-right:10px;
    border:1px solid #ccc;
    background:url(../images/images/foot_c2.png)
               no-repeat;
}
.footer .ff3-3{
    width:270px;
    height:100%;
    margin-right:10px;
    border:1px solid #ccc;
    background:url(../images/images/foot_c3.png)
               no-repeat;
}
.footer .ff3-4{
    width:270px;
    height:100%;
    border:1px solid #ccc;
    background:url(../images/images/foot_c4.png)
               no-repeat;
}
.footer .ff3-1-1{
    font-size: 13px;
    line-height:100px;
    text-align: center;
    color:#aaaaaa;
}
.footer .ff4{
    
    color:#aaa;
    font-size: 13px;
    line-height: 18px;
}
