#anzhuo{
    width:524px;
    height:518px;
    border:1px solid red;
    background-color: #ccc;
    box-sizing: border-box;
    margin:auto;
    position: relative;
}
.top{
    width:200px;
    height:100px;
    margin:auto;
    margin-top: 17px;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    background-color: #58bc58;
}
.top1,.top2{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: #fff;
}
.top1{
    position: absolute;
    top:70px;
    left:210px;
}
.top2{
    position: absolute;
    top:70px;
    left:280px;
}
.main{
    width:280px;
    height:230px;
    margin:auto;
    margin-top: 10px;
    /* background-color:pink; */
}
.mian-left{
    float: left;
    width:30px;
    height:180px;
    margin-top:40px;
    margin-right: 10px;
    background-color: #58bc58;
    border-radius: 8px;
}
.main-center{
    float: left;
    width:200px;
    height:100%;
    border-radius: 0 0 8px 8px;
    background-color: #58bc58;
}
.mian-right{
    float: left;
    width:30px;
    height:180px;
    margin-top:40px;
    margin-left: 10px;
    background-color: #58bc58;
    border-radius: 8px;
}
.footer{
    width:120px;
    height:80px;
    margin:auto;
    /* background-color: pink; */
}
.footer-left{
    float: left;
    width:30px;
    height:80px;
    background-color: #58bc58;
    border-radius: 0 0 15px 15px;
}
.footer-right{
    float:right;
    width:30px;
    height:80px;
    background-color: #58bc58;
    border-radius: 0 0 15px 15px;
}