.nav {
    border-bottom: 1px solid #ccc;
}

.pt-warp {
    width: 1200px;

    margin: 0 auto;
    overflow: hidden;


    .breadcrumb {
        height: 45px;
        line-height: 45px;
        overflow: hidden;

        dl {
            display: flex;
            font-size: 14px;

            i {
                margin-right: 5px;
            }

            dt {
                display: flex;
                position: relative;
                padding-left: 30px;
            }

            dd {
                margin-left: 5px;
                color: #666;
            }
        }

    }

    .pt-data {
        width: 1198px;
        border: 1px solid #e6e6e6;
        padding: 36px 0px;
        display: flex;

        .pt-data-l {
            width: 480px;
            position: relative;
            z-index: 10;
            display: flex;

        }

        .pt-data-c {
            width: 500px;
            margin-left: 20px;

            .data-c-tit {
                display: flex;
                font-size: 14px;
                font-family: Microsoft YaHei, simhei;
                line-height: 25px;
                overflow: hidden;
                color: #666;

                img {
                    width: 80px;
                    height: 30px;
                    display: block;
                    background-position: -236px -828px;
                    margin-top: 4px;
                }

                h2 {
                    margin-top: 5px;
                }
            }

            .data-pval {
                width: 480px;
                background: #f7f7f7;
                margin-top: 10px;
                padding: 10px 10px;

                ul {
                    .pval-ms {
                        color: #333;
                        line-height: 30px;
                        height: 30px;

                        span {
                            font-size: 14px;
                        }

                        em {
                            font-size: 22px;
                            font-weight: bold;
                            color: #c81417;

                        }

                        del {
                            color: #b2b2b2;
                            margin-left: 8px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .skuAttrs {
                overflow: hidden;
                margin-top: 10px;
                display: flex;
                font-size: 14px;

                .data-attr1 {
                    width: auto;
                    min-width: 60px;

                }

                .data-attr2 {
                    width: auto;
                    max-width: 400px;

                    .attr-sec{
                        float: left;
                        z-index: -1;
                        height: 25px;
                        line-height: 25px;
                        padding: 0px 5px;
                        border: 1px solid #ccc;
                        cursor: pointer;
                        margin-right: 5px;
                        position: relative;
                    }
                    .active{
                        border: 1px solid #c51811;
                       background-color: pink;
                    }
                }
            }

            .buy-container {
                position: relative;


                .data-number {
                    margin-top: 15px;
                    overflow: hidden;


                    ul {
                        display: flex;

                        .data-number5 {
                            font-size: 12px;
                            color: #666;
                            width: auto;
                            min-width: 60px;

                            .dtnum2 {
                                line-height: 20px;
                            }

                            .dtnum3 {
                                em {
                                    color: #fe8905;
                                    margin: 0px 2px;
                                }
                            }
                        }

                        .data-number2 {
                            width: 65px;
                            display: flex;
                            margin-left: 10px;

                            .pt-nk {
                                input {
                                    width: 28px;
                                    height: 39px;
                                    text-align: center;
                                    line-height: 38px;
                                    border: 1px solid #ccc;
                                }
                            }

                            .pt-ns {

                                p {
                                    width: 24px;
                                    height: 20px;
                                    display: block;
                                    border: 1px solid #ccc;
                                    box-sizing: border-box;
                                    text-align: center;
                                    line-height: 19px;
                                    color: #333;
                                    border-left: none;
                                    cursor: pointer;

                                    &:hover {
                                        color: #fe8905;
                                    }
                                }
                            }

                        }

                        .data-number3 {
                            h2 {
                                width: 140px;
                                height: 40px;
                                display: block;
                                color: #fff;
                                background: #ff3344;
                                text-align: center;
                                line-height: 40px;
                                font-weight: bold;
                                margin-left: 10px;
                                cursor: pointer;

                                &:hover {
                                    background-color: rgb(180, 20, 33);
                                }
                            }
                        }
                    }

                }

                .data-sao {
                    width: 145px;
                    height: 40px;
                    border: 1px solid #f00;
                    position: absolute;
                    top: 0px;
                    right: 30px;
                    border: 1px solid #e6e6e6;
                    cursor: pointer;

                    span {
                        width: 18px;
                        height: 26px;
                        display: block;
                        position: absolute;
                        top: 8px;
                        left: 15px;
                        background-position: -394px -852px;
                    }

                    ul {
                        margin-left: 40px;

                        .lids1 {
                            color: #666;
                            margin-top: 12px;
                            font-size: 12px;
                            margin-left: 5px;
                        }

                        .lids2 {
                            position: absolute;
                            top: 10px;
                            left: 100px;
                            width: 20px;
                            height: 20px;

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }


                    }

                    .dstelma {
                        width: 143px;
                        height: 150px;
                        border: 1px solid #e6e6e6;
                        position: absolute;
                        top: 40px;
                        left: 0px;
                        background: #fff;
                        text-align: center;
                        display: none;

                        img {
                            width: 120px;
                            height: 120px;
                            margin-top: 5px;
                        }


                    }

                }
            }
        }

        .pt-data-r {
            float: right;
            width: 190px;
            margin-right: 4px;
            text-align: center;
            overflow: hidden;
            padding-bottom: 15px;
            height: 499px;
            margin-left: 20px;


            .data-rt-brank {
                position: relative;
                top: 0;
                left: 0;
                width: 160px;
                height: 22px;
                text-align: center;
                margin: 0 auto;

                .line {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    width: 140px;
                    height: 1px;
                    border-bottom: 1px solid #666;
                    z-index: 10;
                }

                span {
                    position: absolute;
                    height: 20px;
                    width: 80px;
                    display: block;
                    background: #fff;
                    z-index: 11;
                    left: 40px;
                    top: -3px;
                    color: #333;

                    .arrow {
                        position: absolute;
                        top: 490px;
                        left: 10px;
                        z-index: 999;
                        font-size: 20px;
                        color: #999;
                        cursor: pointer;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .arrow-right {
                        left: 47px;
                    }
                }
            }

            .data-rt-val {
                position: relative;
                top: 0;
                left: 0;
                border-left: 1px solid #e6e6e6;
                padding-bottom: 15px;
                width: 190px;
                height: 458px;
                text-align: center;
                overflow: hidden;

                .goods {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 2150px;
                    width: 190px;

                    li {
                        color: #999;
                        width: 190px;
                        height: 154px;
                        margin-top: 3px;
                        float: left;

                        .rt-val1 {
                            margin-left: 20px;
                            width: 150px;
                            height: 100px;
                            img{
                                width: 150px;
                                height: 100px;
                            }
                        }
                           h2{
                               font-size: 12px;
                           }

                        .rt-val3 {
                            width: 130px;
                            height: 24px;
                            line-height: 24px;
                            margin: 0px 30px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font-size: 12px;
                            font-family: SimSun;

                            .price {
                                display: inline-block;
                                width: 70px;
                                text-align: left;
                                 margin-left:30px;
                                font-family: Arial;
                                color: #333;
                                font-size: 14px;

                            }
                        }
                    }
                }
            }
        }
    }

    .pt-d-left {
        float: left;
        width: 190px;
        overflow: hidden;

        .pt-d-left-1 {
            float: left;
            width: 188px;
            padding-bottom: 20px;
            border: 1px solid #e6e6e6;

            .d-left-tl {
                height: 40px;
                background: #fafafa;
                border-bottom: 1px solid #e6e6e6;
                position: relative;
                text-align: center;
                line-height: 40px;
                color: #c71417;
                font-weight: bold;

                em {
                    color: #666;
                    margin-left: 4px;
                }
            }

            .d-left-con {
                ul {
                    width: 140px;
                    margin: 0 auto;
                    overflow: hidden;
                    margin-top: 15px;

                    li {
                        img {
                            width: 140px;
                            height: 140px;
                        }

                    }

                    .left-conli-txt {
                        color: #333;
                        height: 20px;
                        overflow: hidden;
                        display: block;
                        line-height: 20px;
                        margin-top: 10px;

                    }

                    .left-conli-val {
                        color: #ff3344;
                        font-weight: bold;
                        height: 20px;
                        overflow: hidden;
                        display: block;
                        line-height: 20px;
                        margin-top: 5px;
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .pt-d-right {
        width: 1000px;
        float: right;

        .protab-base {
            overflow: hidden;
            background: #fafafa;
            border: 1px solid #e6e6e6;

            .selected {
                height: 38px;
                line-height: 38px;
                color: #c51811;
                background: #fff;
                border-top: 2px solid #c51811;
                width: 180px;
                display: block;
            }
            span{
                display: block;
                float: left;
                height: 38px;
                line-height: 38px;
                cursor: pointer;
                font-size: 12px;
                width: 180px;
                text-align: center;
                background: #e6e6e6;
                font-weight: bold;
                color: #666;
                border-bottom: none;
                border-top: 2px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
            }
            .seaev-t{
                float: right;
                margin-right: 15px;
                overflow: hidden;
                display: none;
                ul{
                    li{
                        float: left;
                        line-height: 42px;
                        margin-left: 40px;
                    }
                    .seaev-tli1{
                        width: 250px;
                        overflow: hidden;
                        height: 40px;
                    }
                    .seaev-tli2{
                        float: left;
                        line-height: 42px;
                        margin-left: 40px;
                        em{
                            color: #999;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}