.topHot {
  margin-top: 20px;
}

.topHot .hot {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  display: flex;
}

.topHot .hot .hot-left {
  float: left;
  width: 40px;
  height: 150px;
  background: #fafafa;
  border-right: 1px solid #e6e6e6;
}

.topHot .hot .hot-left ul li {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.topHot .hot .hot-right ul {
  display: flex;
}

.topHot .hot .hot-right ul li {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 12px;
  position: relative;
}

.topHot .hot .hot-right ul li:hover .hot-hide {
  display: block;
}

.topHot .hot .hot-right ul li .hot-img {
  width: 130px;
  height: 130px;
  border: 1px solid #eaeaea;
}

.topHot .hot .hot-right ul li .hot-text {
  width: 130px;
  height: 130px;
  margin-left: 10px;
}

.topHot .hot .hot-right ul li .hot-text h2 {
  height: 52px;
  overflow: hidden;
  color: #333333;
  cursor: pointer;
}

.topHot .hot .hot-right ul li .hot-text h2:hover {
  color: #ff3243;
}

.topHot .hot .hot-right ul li .hot-text h3 {
  height: 30px;
  line-height: 30px;
  color: #ff3243;
}

.topHot .hot .hot-right ul li .hot-text h4 {
  width: 80px;
  height: 30px;
  display: block;
  line-height: 30px;
  background: #e6e6e6;
  text-align: center;
  color: #656565;
  margin-top: 10px;
  cursor: pointer;
}

.topHot .hot .hot-right ul li .hot-text h4:hover {
  color: #ff3243;
}

.topHot .hot .hot-right ul li .hot-hide {
  width: 130px;
  height: 130px;
  display: none;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.topHot .hot .hot-right ul li .hot-hide img {
  margin-left: 25px;
  margin-top: 21px;
  width: 80px;
  height: 80px;
}

.topHot .hot .hot-right ul li .hot-hide h5 {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.cons {
  width: 1202px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
}

.cons .cons1 {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.cons .cons1 .cons2 {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.cons .cons1 .cons2 .related {
  display: flex;
  height: 40px;
  background: #fafafa;
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #eaeaea;
  font-size: 12px;
}

.cons .cons1 .cons2 .related .list-left {
  color: #fb5053;
  margin-left: 40px;
}

.cons .cons1 .cons2 .related .list-right {
  display: flex;
}

.cons .cons1 .cons2 .related .list-right h2 {
  height: 25px;
  line-height: 25px;
  border: 1px solid #e6e6e6;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 22px;
  position: relative;
  margin-left: 10px;
  background: #fff;
  z-index: 15;
}

.cons .cons1 .cons2 .related .list-right span {
  line-height: 40px;
  margin-left: 15px;
}

.cons .cons1 .cons2 .leixing .lei {
  display: flex;
  font-size: 12px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.cons .cons1 .cons2 .leixing .lei h2 {
  width: 80px;
  text-align: right;
  line-height: 35px;
  color: #333;
  background: #fafafa;
}

.cons .cons1 .cons2 .leixing .lei ul {
  display: flex;
}

.cons .cons1 .cons2 .leixing .lei ul li {
  margin-left: 20px;
  margin-top: 5px;
  line-height: 25px;
  white-space: nowrap;
  color: #666;
  cursor: pointer;
}

.cons .cons1 .cons2 .leixing .lei ul li input {
  border: 1px solid #ccc;
  width: 40px;
  height: 17px;
  padding: 2px 1px;
  border: 1px solid #ccc;
  line-height: 17px;
  font-family: verdana;
  color: #999;
}

.cons .cons1 .cons2 .leixing .lei ul p {
  border: 1px solid #ddd;
  text-align: center;
  background: #ccc;
  display: block;
  height: 25px;
  line-height: 25px;
  width: 40px;
  margin-top: 3px;
  margin-left: 20px;
  cursor: pointer;
}

.cons .cons1 .cons2 .leixing .lei .lei-right {
  display: flex;
  margin-top: 2px;
  position: absolute;
  right: 25px;
  top: 0;
}

.cons .cons1 .cons2 .leixing .lei .lei-right h3 {
  margin-right: 10px;
  color: #164a96;
  line-height: 32px;
  cursor: pointer;
}

.cons .cons1 .cons2 .leixing .lei .lei-right p {
  padding: 0px 8px;
  height: 20px;
  background: #f8f7f5;
  border: 1px solid #e5e5e5;
  display: block;
  text-align: center;
  line-height: 20px;
  color: #164a96;
  cursor: pointer;
  margin-top: 5px;
}

.cons .cons1 .main {
  margin-top: 50px;
  display: flex;
}

.cons .cons1 .main .main-left {
  width: 190px;
  border: 1px solid #e6e6e6;
}

.cons .cons1 .main .main-left .left-tit {
  display: flex;
  height: 40px;
  width: 190px;
  background: #fafafa;
  font-size: 12px;
  position: relative;
  line-height: 40px;
  color: #c71417;
  font-weight: bold;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.cons .cons1 .main .main-left .left-tit h3 {
  color: #666;
  margin-left: 4px;
}

.cons .cons1 .main .main-left .left-ul {
  font-size: 12px;
  width: 140px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 15px;
}

.cons .cons1 .main .main-left .left-ul li img {
  width: 140px;
  height: 140px;
}

.cons .cons1 .main .main-left .left-ul .left-cons-txt {
  color: #333;
  height: 20px;
  display: block;
  line-height: 20px;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.cons .cons1 .main .main-left .left-ul .left-cons-val {
  color: #ff3344;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  display: block;
  line-height: 20px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

.cons .cons1 .main .main-right {
  float: right;
  width: 1000px;
  overflow: hidden;
  margin-left: 20px;
  position: relative;
}

.cons .cons1 .main .main-right .fore1 {
  display: flex;
  height: 40px;
  background: #f9f9f7;
  border: 1px solid #e6e6e6;
  font-size: 13px;
}

.cons .cons1 .main .main-right .fore1 dl {
  display: flex;
  margin-left: 0px;
  overflow: hidden;
}

.cons .cons1 .main .main-right .fore1 dl dt {
  margin: 9px 10px 0px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.cons .cons1 .main .main-right .fore1 dl dd {
  overflow: hidden;
  line-height: 25px;
  margin-top: 6px;
  cursor: pointer;
}

.cons .cons1 .main .main-right .fore1 dl dd input {
  cursor: pointer;
}

.cons .cons1 .main .main-right .fore1 dl .fore1-down {
  width: 80px;
  display: block;
  height: 25px;
  border: 1px solid #fb5053;
  color: #fff;
  background: #fff;
  background: #fb5053;
  position: relative;
  text-align: center;
}

.cons .cons1 .main .main-right .fore1 dl .fore1-moren {
  width: 55px;
  height: 25px;
  display: block;
  border: 1px solid #ddd;
  color: #666;
  background: #fff;
  text-align: center;
}

.cons .cons1 .main .main-right .fore1 dl .s-goods-on {
  padding-left: 18px;
  color: #1e55ab;
}

.cons .cons1 .main .main-right .fore1 dl .s-goods {
  padding-left: 18px;
  color: #1e55ab;
}

.cons .cons1 .main .main-right .fore1 .s-page {
  margin-left: 10px;
}

.cons .cons1 .main .main-right .fore1 .s-page ul {
  display: flex;
}

.cons .cons1 .main .main-right .fore1 .s-page ul li {
  margin-top: 10px;
  margin-right: 4px;
}

.cons .cons1 .main .main-right .fore1 .s-page ul li em {
  color: #fb5053;
  font-weight: bold;
}

.cons .cons1 .main .main-right .fore1 .s-page ul .page-left {
  display: block;
  width: 65px;
  height: 25px;
  background: #fff;
  line-height: 25px;
  color: #cdcdcd;
  position: relative;
  text-align: center;
}

.cons .cons1 .main .main-right .fore1 .s-page ul .dian {
  margin-top: 8px;
  margin-right: 4px;
}

.cons .cons1 .main .main-right .fore1 .s-page ul .page-right {
  width: 70px;
  height: 25px;
  border: 1px solid #ddd;
}

.cons .cons1 .main .main-right .pro ul li {
  float: left;
  width: 240px;
  height: 390px;
  border: 1px solid #fff;
  overflow: hidden;
  margin-left: 2px;
  margin-top: 20px;
  border-bottom: 1px dashed #ddd;
  position: relative;
}

.cons .cons1 .main .main-right .pro ul li:hover {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px #999;
}

.cons .cons1 .main .main-right .pro ul li .bigpic {
  width: 220px;
  height: 220px;
  margin-left: 9px;
}

.cons .cons1 .main .main-right .pro ul li .smpic {
  display: flex;
}

.cons .cons1 .main .main-right .pro ul li .smpic img {
  width: 38px;
  height: 38px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 11px 0px 0px 11px;
}

.cons .cons1 .main .main-right .pro ul li .smpic .active {
  border: 1px solid #ff4400;
}

.cons .cons1 .main .main-right .pro ul li .smpic img:nth-child(2) {
  margin: 11px 0px 0px 5px;
}

.cons .cons1 .main .main-right .pro ul li .val {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.cons .cons1 .main .main-right .pro ul li .val h2 {
  color: #e43b3b;
  font-size: 16px;
  font-weight: bold;
}

.cons .cons1 .main .main-right .pro ul li .val h3 {
  font-size: 14px;
  color: #999;
  margin-left: 5px;
  text-decoration: line-through;
  line-height: 23px;
}

.cons .cons1 .main .main-right .pro ul li .tex {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}

.cons .cons1 .main .main-right .pro ul li .tex h5 {
  color: #666;
  line-height: 25px;
  font-size: 12px;
  cursor: pointer;
}

.cons .cons1 .main .main-right .pro ul li .tex h5:hover {
  color: #e43b3b;
  text-decoration: underline;
}

.cons .cons1 .main .main-right .pro ul li:nth-child(4) {
  margin-bottom: 50px;
}

.cons .cons1 .main .main-right .s-page1 {
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  right: 60px;
}

.cons .cons1 .main .main-right .s-page1 ul {
  display: flex;
  font-size: 12px;
}

.cons .cons1 .main .main-right .s-page1 ul li {
  margin-top: 10px;
  margin-right: 4px;
}

.cons .cons1 .main .main-right .s-page1 ul .page-left {
  cursor: pointer;
  width: 70px;
  height: 25px;
  border: 1px solid #ddd;
}

.cons .cons1 .main .main-right .s-page1 ul .page-left:hover {
  color: #e4393c;
  border: 1px solid #e4393c;
}

.cons .cons1 .main .main-right .s-page1 ul .mashu {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 25px;
  border: 1px solid #ccc;
  color: #666;
  background: #fff;
  line-height: 27px;
  text-align: center;
}

.cons .cons1 .main .main-right .s-page1 ul .mashu1 {
  display: block;
  width: 30px;
  height: 25px;
  border: 1px solid #e4393c;
  color: #e4393c;
  background: #fdf3f3;
  line-height: 27px;
  text-align: center;
}

.cons .cons1 .main .main-right .s-page1 ul .page-right {
  cursor: pointer;
  width: 70px;
  height: 25px;
  border: 1px solid #ddd;
}

.cons .cons1 .main .main-right .s-page1 ul .page-right:hover {
  color: #e4393c;
  border: 1px solid #e4393c;
}
