body,
html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.price {
  position: absolute;
  top: 353px;
}

.price .price1 {
  display: flex;
}

.price .price1 h4 {
  color: #06c1ae;
  font-size: 30px;
}

.price .price1 h4 i {
  font-size: 14px;
}

.price .price1 h5 {
  color: #ccc;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 15px;
}

.price .price1 p {
  background-color: #f90;
  color: #fff;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 18px;
}

.price .jinglin span {
  display: inline-block;
  margin-left: 14px;
  font-size: 14px;
  margin-top: 10px;
  color: #6bbd00;
}

.price .jinglin span img {
  width: 20px;
  height: 20px;
}

.price .jinglin span:nth-child(2) {
  margin-left: 35px;
}

.price .jinglin span:nth-child(3) {
  color: #000;
}

.price .tiao {
  background-color: #e9e5e5;
  height: 12px;
  width: 100%;
  display: block;
}

.evaluate {
  position: absolute;
  top: 477px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.evaluate span {
  display: flex;
  margin-top: 9px;
}

.evaluate span img {
  width: 20px;
  height: 16px;
  margin: 2px;
}

.evaluate span h2 {
  font-size: 14px;
  color: #f90;
}

.evaluate h3 {
  margin-left: 80px;
  color: #999;
  font-size: 15px;
  margin-bottom: 10px;
}

.pane {
  position: absolute;
  top: 520px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: normal;
}

.pane span {
  width: 85px;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  border-radius: 4px;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #999;
  color: #999;
}

.pane span:nth-child(2n+1) {
  border: 1px solid #f90;
  color: #f90;
}

.msg {
  width: 100%;
  position: absolute;
  top: 650px;
}

.msg .tiao {
  background-color: #e9e5e5;
  height: 12px;
  width: 100%;
  display: block;
}

.msg p {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}

.msg h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  width: 240px;
  margin-left: 10px;
}

.msg h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #999;
  width: 240px;
  margin-left: 10px;
}

.rule {
  position: absolute;
  top: 764px;
  font-size: 17px;
}

.rule .tiao {
  background-color: #e9e5e5;
  height: 12px;
  width: 100%;
  display: block;
}

.rule p {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}

.rule h5 {
  color: #f90;
  margin: 8px;
}

.rule .text {
  margin-left: 20px;
}

.rule ul {
  list-style-type: disc;
}
